@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css';

:root {
  /* CSS Variables for all the font colors and sizes. Try changing these! */
  --header-background: #5661b3;
  --header-text-color: #fff9c2;
  --header-font-size: 2rem;
  --square-font-size: calc(8 * var(--header-font-size));
  --square-text-color: #5661b3;
  //--square-background-color: #e6e8ff;
  background: teal url(https://assets.codepen.io/15664/bliss.jpg) center / cover
    no-repeat;
  --square-border: 3px solid var(--square-text-color);

  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  width: auto;

  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1rem;
}

h1 {
  /* center the header */
  text-align: center;

  /* Use a sans serif font with a little spacing and color */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.4rem;
  font-size: 25px;
  color: black;
  width: 65vw;

  /* Remove margins and set a little padding */

  padding: var(--header-font-size);

  /* Set a background color for the header */
}

section,
li {
  // This adjusts the main UL and the children(li) looks!!!
  /* Be gone margins! */
  margin: 0;
  padding: 0;

  /* and list styles */
  list-style: none;
}

section {
  /* Display the list as a 8 column and  row grid */
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  /* Add a little gap between to allow the background color through */
  gap: 0.25rem;

  /* Set the background color that will show through the gap */
  //background-color: var(--square-text-color);

  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 1px 1px 0;
  width: 70vw;
  height: 85vh;
}

section li {
  /* Use a monospace font */
  font-family: monospace;
  font-size: 24px;

  /* Style the background color of the item */
  background-color: rgb(212, 209, 209); //var(--square-background-color);

  /* Make the cursor a pointer by default */
  cursor: pointer;

  /* Center the text in the LI */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s font-size ease-in-out;

  // Adjust size/////////////
  border: solid blue 2px;

  height: auto;
  width: auto;
}

section li.taken {
  cursor: not-allowed;
}

section li.small {
  font-size: 4rem;
}

section li.not-allowed-click {
  background-color: red;
}
